
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="footer_line">Home</a></li>
            <li><a href="#about" class="footer_line">About me</a></li>
            <li><a href="#skills" class="footer_line">Skills</a></li>
            <li><a href="#project" class="footer_line">Projects</a></li>
            <li><a href="#portfolio" class="footer_line">Portfolio</a></li>
        </ul>
    
        <ul class="flex s-center w-80 font-awesome">
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa-brands fa-github"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    
        <p class="t-center my-2 poppins">
         2026 All Rights Reserved | Designed & Built by
            <span class="cpy-white poppins">Khushi Manthale</span>
        </p>
    </footer>

