<footer id="footer">

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="font-awesome">

        <a href="https://github.com/KUSMANJALI-M" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>

        <a href="YOUR_LINKEDIN_LINK" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>

    </div>

    <p>
        © 2026 <span class="cpy-white">Kusmanjali M</span>. All Rights Reserved.
    </p>

</footer>