

<!-- navbar section -->
<header>
<nav id="navbar" class="flex s-around bg-color">
    <div class="left-bar">
        <h2 class="t-white">Portfolio</h2>
    </div>
    <ul class="right-bar">
        <li><a href="#home" class="headline">Home</a> 🏠</li>
        <li><a href="#about" class="headline">About me</a> 👤</li>
        <li><a href="#skills" class="headline">Skills</a> 💻</li>
        <li><a href="#projects" class="headline">Projects</a> 🚀</li>
        <li><a href="#contact" class="headline">Contact</a> 📞</li>
    </ul>
</nav>
</header>


