{% extends "base.html" %}
<!-- {% load static %} -->
{% block content %}
    <!-- navbar section -->
    <!-- <nav id="navbar" class="flex s-around bg-color">
        <div class="left-bar">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-bar">
            <li><a href="#home" class="headline">Home</a>🏠<i class="fa-solid fa-house"></i></li>
            <li><a href="#about" class="headline">About me</a>👤<i class="fa-solid fa-user"></i></li>
            <li><a href="#skills" class="headline">Skills</a>💻<i class="fa-solid fa-code"></i></li>
            <li><a href="#projects" class="headline">Projects</a>🚀<i class="fa-solid fa-rocket"></i></li>
            <li><a href="#contact" class="headline">Contact</a>📞<i class="fa-solid fa-envelope"></i></li>
        </div>
    </nav>   -->

    <!-- home section -->
     
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flext items-center">
            <div class="home-content">
                <h3 class="intro">Hii,i'm</h3>
                <h1 class="whoami">Kusmanjali Manthale</h1>
                <h2 class="intro">Web Developer | Backend Developer</h2>
                <a href="{% static 'pdf/Kusmanjali Manthale_.pdf' %}">
                    <button class="btn">Resume</button>
                </a>
                <a href="#contact" class="job" id="hireme" >Let's talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="minimage">
                <img src="{% static 'images/photo_cgpt.png' %}" alt="" height="200" width="150">
            </div>
        </div>
    </section>

    <section id="about">
    <h1 class="t center my-2 t-white f-2">About</h1>
   
    <div class="about-container flex s-around">

        <!-- LEFT (Image) -->
        <div class="about-left flex s-center items-center">
            <img src="{% static 'images/about.png'%}" alt="image">
        </div>

        <!-- RIGHT (Text) -->
        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 poppins">Kusmanjali Manthale</h1>

                <p class="t-white poppins">
                    I am an aspiring software developer with a strong foundation in Python, SQL, and front-end technologies. 
                    I enjoy building real-world projects that focus on clean design and functionality. 
                    Recently, I developed an advanced Expense Tracker using Python, featuring JSON-based data storage, search, sorting, and analytical functionalities. 
                    I am eager to start my career and grow as a developer in a challenging environment.
                </p>

                <a href="#contact" id="hireme">Hire Me</a>
            </div>
        </div>

    </div>
</section>
<!-- skills section -->

<section id="skills">

     <h1 class="t-center t-white f-2 skills-title">Skills</h1>

    <div class="service-container">

        <div class="skills-right">

            <!-- Python -->
            <div class="skill-item">
                <div class="skill-info">
                    <span class="skill-name">
                        <i class="fa-brands fa-python"></i> Core Python
                    </span>
                </div>

                <div class="modern-line">
                    <div class="modern-fill python-fill"></div>
                </div>

                <div class="skill-tags">
                    <span>OOP</span>
                    <span>Functions</span>
                    <span>File Handling</span>
                    <span>Exception Handling</span>
                </div>
            </div>

            <!-- Django -->
            <div class="skill-item">
                <div class="skill-info">
                    <span class="skill-name">
                        <i class="fa-solid fa-code"></i> Django
                    </span>
                </div>

                <div class="modern-line">
                    <div class="modern-fill django-fill"></div>
                </div>

                <div class="skill-tags">
                    <span>MVT Architecture</span>
                    <span>Templates</span>
                    <span>Models</span>
                    <span>CRUD Operations</span>
                </div>
            </div>

            <!-- SQL -->
            <div class="skill-item">
                <div class="skill-info">
                    <span class="skill-name">
                        <i class="fa-solid fa-database"></i> SQL
                    </span>
                </div>

                <div class="modern-line">
                    <div class="modern-fill sql-fill"></div>
                </div>

                <div class="skill-tags">
                    <span>Queries</span>
                    <span>Joins</span>
                    <span>DBMS</span>
                    <span>Normalization</span>
                </div>
            </div>
            <!-- web technologies -->

            <div class="skill-item">
                <div class="skill-info">
                    <span class="skill-name">
                        <i class="fa-solid fa-code"></i> Web Technologies
                    </span>
                </div>

                <div class="modern-line">
                    <div class="modern-fill web-fill"></div>
                </div>

                <div class="skill-tags">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>Responsive Design</span>
                    <span>DOM Manipulation</span>
                </div>
            </div>

            <!-- Data Analytics -->
            <div class="skill-item">
                <div class="skill-info">
                    <span class="skill-name">
                        <i class="fa-solid fa-chart-line"></i> Data Analytics
                    </span>
                </div>

                <div class="modern-line">
                    <div class="modern-fill analytics-fill"></div>
                </div>

                <div class="skill-tags">
                    <span>NumPy</span>
                    <span>Pandas</span>
                    <span>Matplotlib</span>
                    <span>Seaborn</span>
                    <span>Data Cleaning</span>
                    <span>Visualization</span>
                </div>
            </div>


            <!-- Excel & Power BI -->
            <div class="skill-item">
                <div class="skill-info">
                    <span class="skill-name">
                        <i class="fa-solid fa-chart-pie"></i> Excel & Power BI
                    </span>
                </div>

                <div class="modern-line">
                    <div class="modern-fill powerbi-fill"></div>
                </div>

                <div class="skill-tags">
                    <span>Dashboards</span>
                    <span>Data Visualization</span>
                    <span>Reports</span>
                    <span>Charts</span>
                </div>
            </div>


        </div>
    </div>
</section>

      <!-- projects section -->
        <section id="projects">
            <h1 class="t-center my-2 t-white f-2">Projects</h1>
            <div class="project-cotainer flex s-center">
                <div class="project-item flex f-col s-center items-center">
                    <h1 class="t-white poppins">Ecommerce-Website</h1>
                    <p class="t-white poppins">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus nesciunt assumenda accusantium doloribus quo, molestias sint illo minima, maiores nam velit, dignissimos atque veniam placeat voluptatibus maxime minus odio qui!
                    </p>
                    
                    <div class="button flex s-around">
                        <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
                    </div>
                </div>

                <div class="project-item flex f-col s-center items-center">
                    <h1 class="t-white poppins">Personal Portfolio Website</h1>
                    <p class="t-white poppins"> Developed a dynamic portfolio using Django to showcase projects and skills. Implemented responsive design and backend logic with database integration.

                    </p>
                    <div class="button flex s-around">
                        <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
                    </div>
                </div>

                <div class="project-item flex f-col s-center items-center">
                    <h1 class="t-white poppins">Expense Tracker (Core Python):</h1>
                    <p class="t-white poppins"> A simple Python console app to track daily expenses, view total spending, and manage budget using basic CLI operations.
                    </p>
                    <div class="button flex s-around">
                        <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
                    </div>
                </div>
                </div>
        </section>

        

    <!-- Contact Section -->
    <section id="contact">

    <!-- <h1 class="t-center my-2 t-white f-2">Contact Me</h1> -->
     <h1 class="t-center t-white f-2 contact-title">Contact Me</h1>

    <p class="contact-subtext">
        Let’s build something amazing together ✨
    </p>

    <div class="contact-container">

        <div class="form" id="contactform">

            {% if success %}
            <p class="success-msg">
                Message sent successfully! 💖
            </p>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="form-div">
                    <input type="text" name="name" placeholder="Enter your Name" required>
                </div>

                <div class="form-div">
                    <input type="email" name="email" placeholder="Enter your Email" required>
                </div>

                <div class="form-div">
                    <input type="text" name="phone" placeholder="Enter your Phone no.">
                </div>

                <div class="form-div">
                    <textarea name="message" rows="5" placeholder="Enter your message"></textarea>
                </div>

                <input type="submit" id="submit" value="Send 💌">
            </form>

        </div>

    </div>
</section>
    <script src="script.js"></script>
{% endblock %}